
.createAccount,.createCharacter{
    margin-top:20px;
    margin-bottom:20px;
    padding:20px;
    background-color: rgb(65, 65, 65);
    border:2px solid rgb(11, 11, 11);
    background-image: url(../images/pattern3.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-radius:10px;
}

.chooseFaction{
    width:350px;
    /*border:2px solid rgb(204, 194, 102);;*/
    padding:10px 10px;
    border-radius: 10px;
    margin:auto;
}

.faction.on img{
    background-color:rgb(100, 100, 100);
}

.faction img{
    border-radius:10px;
    height:auto;
    width:120px;
    margin:auto;
    display:block;
}

.createAccount input,.createCharacter input{
    background-color:rgba(10,10,10,0);
    color:rgb(204, 194, 102);
    border:none;
    border-bottom: 2px solid rgb(204, 194, 102);
    display:block;
    margin:10px auto;
    font-size:24px;
    font-family: liteCraft;
}

.createAccount input:focus,.createCharacter input:focus{
    outline:0px !important;
    -webkit-appearance:none;
}